---
layout: layouts/base.njk
---

{% include "partials/sidebar.njk" %}

<main class="docs-main relative min-h-0 min-w-0 flex-1 overflow-x-clip">
  <header class="docs-site-header bg-background sticky top-0 isolate z-10 shrink-0 border-b">
    {% include "partials/header.njk" %}
  </header>

  <div id="content" class="min-w-0 p-4 md:p-6 xl:p-12">
    {{ content | safe }}
  </div>

  {% include "partials/site-footer.njk" %}
</main>