<section id="features-tabs" class="w-full scroll-mt-14 rounded-lg border">
  <header class="flex items-center justify-between border-b px-4 py-3">
    <h2 class="text-sm font-medium">Features tabs</h2>
    <a href="/layouts/features-tabs/" class="text-muted-foreground hover:text-foreground" data-tooltip="See documentation" data-side="left">
      {% lucide "book-open", { "class": "size-4" } %}
    </a>
  </header>
  <div class="p-4">
    {% include "partials/layouts/features-tabs.njk" %}
  </div>
</section>
